<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Multiroom Chat</title>
		
		<!-- JQUERY -->
		<script src="js/jquery-2.2.1.js"></script>
		
		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- estilo -->
		<link href="css/style.css" rel="stylesheet">
		
	</head>

	<body>
	
	
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1" id="btn_navbar_toggle">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Multiroom Chat</a>
				</div>
				
				
				<div class="collapse navbar-collapse" id="navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href="/chat" id="exibe_chat">Chat</a>
						</li>
						<li>
							<a href="/usuarios" id="exibe_participantes">Participantes</a>
						</li>
					</ul>
					<a href="/sair" class="btn btn-default navbar-btn navbar-right">Sair</a>
				</div>
			</div>
		</nav>
	
		<div class="container">			
			<div class="row participantes" id="participantes">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<% if(usuarios.length > 0) { %>
						<% for(var i = 0; i < usuarios.length; i++) { %>
							<span class="participante">
								<img src="images/ico_usuario.png" />
								<%= usuarios[i].email %> | <%= usuarios[i].apelido %>
							</span>
						<% } %>
					<% } %>
				</div>
				<div class="col-md-1"></div>
            </div>

			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<h2>Salas</h2>
					<form action="/createRoom" method="post">
						Nome da sala: <input type="text" name="room">
						<button type="submit">Criar Sala</button>
					</form>
					<ul id="list-rooms">
						
					</ul>
				</div>
				<div class="col-md-1"></div>
			</div>
        </div>	
		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		
		<!-- rota importada automaticamente, tem tudo que precisamos do socket do lado do cliente -->
		<script src="/socket.io/socket.io.js"></script>

		<script>
			var socket = io.connect('http://localhost:3000');

			socket.on('rooms', function(data) {
				var ks = Object.keys(data);

				console.log(data);

				// Limpa a lista
				$('#list-rooms').html('');

				for (var i = 1; i < ks.length ; i++) {
					var roomLink = ks[i];
					if(roomLink.includes("idRoom")) {
						$('#list-rooms').append('<li><a href="/chat?'+roomLink+'">'+roomLink.substring(7)+'</a></li>');
					}
				}
			});

			socket.on('new room', function(room) {
				$('#list-rooms').append(
					'<li><a href="/chat?'+room+'">'+room.substring(7)+'</a></li>');
			});
		</script>
	</body>
</html>